version: '3.8'

services:
  backend:
    container_name: backend-app
    image: backend-app:1.0
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: docker
    ports:
      - "5000:5000"
    depends_on:
      - mongodb

  mongodb:
    image: mongo
    container_name: mongodb
    #ports:
     # - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD-SHELL", "mongosh --username admin --password password --authenticationDatabase admin --eval \"db.adminCommand('ping')\" || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongodb
    depends_on:
      mongodb:
        condition: service_healthy

  frontend:
    container_name: frontend-app
    image: frontend-app:1.0
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: docker
      REACT_APP_API_BASE_URL: http://44.220.134.30:5000
    ports:
      - "4000:80"
    depends_on:
      - backend

  user-frontend:
    container_name: user-frontend-app
    image: user-frontend-app:1.0
    build:
      context: ./user-portal-frontend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: docker
      REACT_APP_API_BASE_URL: http://44.220.134.30:5000
    ports:
      - "4001:80"
    depends_on:
      - backend
      - frontend

volumes:
  mongo-data:
    driver: local
