version: '1'

services:
  backend:
    container_name: backend-app
    image: niggi123/backend-app:1.0
    environment:
      - NODE_ENV=docker
    ports:
      - 5000:5000
    links:
      - mongodb

  mongodb:
    image: mongo
    ports:
     - 27018:27017
    environment:
     - MONGO_INITDB_ROOT_USERNAME=admin
     - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
     - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    restart: always
    ports:
     - 8081:8081
    environment:
     - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
     - ME_CONFIG_MONGODB_ADMINPASSWORD=password
     - ME_CONFIG_MONGODB_SERVER=mongodb
    depends_on:
     - mongodb

  frontend:
    container_name: frontend-app
    image: niggi123/frontend-app:1.0
    environment:
      - NODE_ENV=docker
      - REACT_APP_API_BASE_URL=http://backend:5000
    ports:
     - 4000:80
    depends_on:
     - backend

  user-frontend:
    container_name: user-frontend-app
    image: niggi123/user-frontend-app:1.0
    environment:
      - NODE_ENV=docker
      - REACT_APP_API_BASE_URL=http://backend:5000
    ports:
     - 4001:80
    depends_on:
      - backend
      - frontend

volumes:
  mongo-data:
    driver: local
